{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
    <title>tokynaba</title>
  </head>
  <body>
    <section id="pos">
      <div class="sign">
        <span class="fast-flicker">to</span><span class="flicker">ky</span><span class="fast-flicker">na</span><span class="flicker">ba</span>
      </div>
    </section>
    <div class="links">
      <div class="container">
        <a href="/shop/">My works</a>
      </div>
      <div class="container">
        <a href="/hush/">Hush-hush</a>
      </div>
      <div class="container">
        <a href="/orders/">Orders</a>
      </div>
      <div class="container">
        <a href="/news/">News</a>
      </div>
      <div class="container">
        <a href="/aboutme/">About me</a>
      </div>
      <div class="container">
        <a href="/faq/">F.A.Q.</a>
      </div>
    </div>
    <footer>
      <div class="media flex-center">
        <a href="https://www.tiktok.com/@tokynabba?_d=secCgwIARCbDRjEFSADKAESPgo8HBk9PpgzJ%2BOlSNczkSTS%2Fjq5U6NnJxBg%2FnAs8aq0TCC8a1%2FYZWDldKxs%2BilkIfEjlbqDlK4ubZyfHq%2BDGgA%3D&checksum=b1627ba67387c8c85b26e0736849edd699eba344623a07e24396b06c6d9509fc&language=ru&sec_uid=MS4wLjABAAAA5WMnDcb2fp0zZrvJYO9Ve0DYhLr0WC-pXMzbrVnyviFqWqO4QEPS6bGYjajMr1eC&sec_user_id=MS4wLjABAAAA6lbAXAue8yIFEdFFjQ2iSGNI1z0ALvCsPUKD8tSHROekxRc8wiYOxQcTc1eDHXfK&share_app_id=1233&share_author_id=7022785368513299457&share_link_id=A5214259-0814-4E22-88F9-C435F829FA37&tt_from=copy&u_code=d4fafd1mbcfb69&user_id=6654865656451694597&utm_campaign=client_share&utm_medium=ios&utm_source=copy&source=h5_m&_r=1" target="_blank" class="fa fa-github fa-4x icon-3d">Tik-tok</a>
        <a href="https://www.instagram.com/tokynaba/" target="_blank" class="fa fa-github fa-4x icon-3d">Instagram</a>
        <a href="mailto:tokynaba@mail.ru" target="_blank" class="fa fa-github fa-4x icon-3d">Mail</a>
      </div>
    </footer>
  </body>
</html>
